{% extends 'core/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">

	<div class="col-md-4">
      <h2>Missão da Fazu</h2>
      <p>O já tradicional Porteira Adentro é uma grande mostra do conhecimento acadêmico e das propostas de inovações tecnológicas para o campo, enriquecendo a formação do nosso aluno e marcando sua passagem pela Fazu, através da interação entre acadêmicos, professores, empresas e a comunidade em geral.</p>
    </div> 

	<div class="col-md-4">
      <h2>Sobre o porteira</h2>
      <p>O já tradicional Porteira Adentro é uma grande mostra do conhecimento acadêmico e das propostas de inovações tecnológicas para o campo, enriquecendo a formação do nosso aluno e marcando sua passagem pela Fazu, através da interação entre acadêmicos, professores, empresas e a comunidade em geral.</p>
    </div>

    <div class="col-md-4">
      <h2>Inscrição de avaliadores</h2>
      <p>Todos os trabalhos expostos são avaliados por professores, técnicos e convidados, a fim de que os alunos possam explanar e aprender cada vez mais sobre o tema e o projeto desenvolvidos.</p>
      <p><a class="btn btn-default" href="/" role="button">Inscreva-se aqui »<span class="ui_icon contactus"></span></a></p>
    </div>   
 </div>
{% endblock %}